name: Build, test & release

on:
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * 5' # build weekly on a friday
  workflow_dispatch:

jobs:
  build-linux-gcc:
    name: build linux binaries with gcc
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: update host system
      run:   |
          sudo apt update
          sudo apt install gcc-14-multilib
          sudo update-alternatives --install /usr/bin/cc   cc   /usr/bin/gcc-14 100
          sudo update-alternatives --install /usr/bin/c++  c++  /usr/bin/g++-14 100

    - name: identify compiler
      run: cc -v

    - name: build linux 64bit debug binary
      run: make

    - name: build linux 64bit binary
      run: make linux

    - name: build linux 32bit binary
      run: make linux32

    - uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: "*.bin"
        commit: main
        name: autorelease
        makeLatest: true
        tag: autorelease
        token: ${{ secrets.GITHUB_TOKEN }}
        body: "Automatically released by github actions"

  build-linux-clang:
    name: build linux binaries with clang
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: update host system
      run:   |
          sudo apt update
          sudo apt install libc6-dev-i386
          sudo apt install clang-19
          sudo update-alternatives --install /usr/bin/cc  cc  /usr/bin/clang-19 100
          sudo update-alternatives --install /usr/bin/c++ c++ /usr/bin/clang++-19 100

    - name: identify compiler
      run: cc -v

    - name: build linux 64bit debug binary
      run: make

    - name: build linux 64bit binary
      run: make linux

    - name: build linux 32bit binary
      run: make linux32

  build-windows-on-linux:
    name: build windows binaries on linux host
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: update host system
      run:   |
          sudo apt update
          sudo apt install gcc-mingw-w64 gcc-mingw-w64-i686

    - name: identify compiler
      run:    |
          x86_64-w64-mingw32-gcc -v
          i686-w64-mingw32-gcc -v

    - name: build mingw 64bit binary
      run: make windows

    - name: build mingw 32bit binary
      run: make windows32

    - uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: "*.exe"
        commit: main
        name: autorelease
        makeLatest: true
        tag: autorelease
        token: ${{ secrets.GITHUB_TOKEN }}
        body: "Automatically released by github actions"

  build-windows-native:
    name: build windows binaries
    runs-on: windows-latest

    steps:
    - uses: msys2/setup-msys2@v2
    - uses: actions/checkout@v4

    - name: identify compiler
      run: gcc -v

    - name: build windows 64bit binary
      run: make windows-msys

  cppcheck:
    name: run cppcheck
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: update host system
      run:   |
          sudo apt update
          sudo apt install cppcheck

    - name: identify cppcheck
      run: cppcheck --version

    - name: run cppcheck
      run: make cppcheck

  codespell:
    name: run codespell
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: install codespell
      run:   |
          sudo apt update
          sudo apt install codespell

    - name: identify codespell
      run: codespell --version

    # If count >0 will trigger a workflow failure, else success
    - name: run codespell
      run: make codespell

  astyle:
    name: run astyle check
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    # Ubuntu has an ancient version of astyle, clone and build latest upstream release
    - name: install astyle
      run:   |
          sudo apt install cmake
          git clone https://gitlab.com/saalen/astyle.git
          cd astyle
          git checkout $(git describe --tags `git rev-list --tags --max-count=1`)
          cmake .
          make
          sudo make install

    - name: identify astyle
      run: astyle --version

    - name: run astyle check
      run: make checkformat
